.ant-form-item label {
  float: left;
}

.cancel-button {
  background-color: #fff;
  margin-left: 20px;
  color: rgb(126, 126, 126);
  border: 1px solid grey;
}

.cancel-button:hover {
  background-color: #fff;
  border: 1px solid #1890ff;
  color: #1890ff;
}

.ant-col-sm-8 {
  width: 23%;
}

.ant-col-sm-16 {
  width: 77%;
}

.ant-col-sm-offset-8 {
  margin-left: 0px;
}

.ant-form-item-control {
  text-align: center;
}

.data-icon {
  width: 22px;
  height: 22px;
}
